.title {
  padding: 0 10px;
  color: #b5b5b5;
  font-weight: 500;
  font-size: 26px;
  line-height: 38px;
  margin-bottom: 25px;
}

.title .keyword {
  color: #f9f9f9;
  font-weight: 700;
}

:global(.light) .title {
  color: #747474;
}

:global(.light) .keyword {
  color: #1f1f1f;
}
