.info {
  background: #1f1f1f;
  border: 1px solid #252525;
  border-radius: 10px;
}

:global(.light) .info {
  background-color: #f9f9f9;
  border: 1px solid #e1e1e1;
  border-radius: 10px;
}

.infoTable {
  width: 100%;
  margin: 20px 0;
  font-size: 18px;
  border: none;
  border-spacing: 30px 10px;
}

.infoTable th {
  width: 115px;
  color: #b5b5b5;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
}

.salePrice {
  color: #505050;
  text-decoration: line-through;
}

:global(.light) .salePrice {
  color: #b5b5b5;
}

.starRating {
  color: #fdc04a;
}

.like {
  color: #e85b81;
}
