.sizeReviewList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  list-style: none;
}

.sizeReview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 26px 40px;
  background: #1f1f1f;
  border: 1px solid #252525;
  border-radius: 10px;
}

:global(.light) .sizeReview {
  background-color: #f9f9f9;
  border: 1px solid #e1e1e1;
  border-radius: 10px;
}

.date {
  color: #b5b5b5;
  font-size: 15px;
  line-height: 22px;
}

:global(.light) .date {
  color: #747474;
}

.profile {
  font-size: 18px;
  line-height: 26px;
}

.fit {
  width: 100px;
  padding: 8px;
  color: #b5b5b5;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  background: #121212;
  border-radius: 9999px;
}

:global(.light) .fit {
  color: #1f1f1f;
  background-color: #ededed;
}
